# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Next.js Build
client/.next/
client/out/
client/build/

# Server Build
server/dist/

# Local Environment
.env
.env*.local

# Testing & Logs
coverage/
*.log

# OS & Editor Files
.DS_Store
.vscode/
.idea/
